.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: green;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.nav{
  margin-top: 15px;
  .mybcgcontainer {
    width: 100%;
    height: 100vh;
    background-color: #111111;
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
  }
  
}
.links{
  background-color: blue;
  margin-right: 10px;
  padding: 10px;
  color: red;
  font-weight: 800;
  text-decoration: none;
  border-radius: 10px;
}

.footer-background-color{
  background-color: rgb(44, 156, 0);
}
/* style.css or similar */
.myfooter {
  background-color: #004080;
  position: relative;
  bottom: 0;
  width: 100%;
}
.myfooter {
  background-color: #000; /* Black background for contrast */
  overflow: hidden;
  position: relative;
}

.moving-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 15s linear infinite;
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #42e695, #ff6ec4);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.text-phone {
  color: #ff4c60;
}



.backstyling{
  background-color: rgb(161, 203, 252);
}
.socialspictures{
  height: 70px;
  width: 70px;
  margin-right: 5px;
}

.product_img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.App-link {
  color: pink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
